<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanTongSok"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainPage"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HaksaPage"
            android:label="학사공지"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".GongziPage"
            android:label="공지사항"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HangsaPage"
            android:label="주요행사"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingPage"
            android:label="알림설정"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>